.grid{
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

.container{
    display: flex;
    
    flex-direction: column;

    padding: 5em;
}

.bienvenida{
    margin-left: 3em;
}

.card{
    background-color: #0ea8a1;
}


button{
    background-color: #fca577;
}
button:hover{
    box-shadow: 0px 1px 15px #fca577;
}
