<app-navigation></app-navigation>
<div class="contenedorPrincipal">
    <table class="table table-striped alumnos">
        <tr class="header" style="text-align: center; ">
            <th>Nombre</th>
            <th>Apellido 1</th>
            <th>Apellido 2</th>
            <th>DNI</th>
            <th>Nombre Familiar</th>
            <th>Apellido 1</th>
            <th>Apellido 2</th>
            <th>Direccion</th>
            <th>Telefono</th>
            <th>Email</th>
        </tr>
        <tr class="trAlumnos" *ngFor="let alumno of alumnos" style="text-align: center;">
            <td>
                {{alumno.Nombre}}
            </td>

            <td>
                {{alumno.Apellido1}}

            </td>
            <td>
                {{alumno.Apellido2}}

            </td>
            <td>
                {{alumno.DNI}}
            </td>
            <td>
                {{alumno.Nombre_Familiar1}}

            </td>
            <td>
                {{alumno.PrimerApellido_Familiar1}}

            </td>
            <td>
                {{alumno.SegundoApellido_Familiar1}}

            </td>
            <td>
                {{alumno.Direccion}}

            </td>
            <td>
                {{alumno.Telefono1}}

            </td>
            <td>
                {{alumno.Email}}
            </td>
        </tr>
    </table>
</div>